# **ECDC_COVID_19:DATASET DESCRIPTION**

* dateRep: The date of the reported data

* day: The day of the report (integer, e.g., 1-31).

* month: The month of the report (integer, e.g., 1-12).

* year: The year of the report (integer, e.g., 2020).

* cases: The number of new confirmed cases reported on this date.

* deaths: The number of new deaths reported on this date.

* countriesAndTerritories: The name of the country or territory to which the data belongs.

* geoId: A short geographical identifier (code) for the country or territory.

* countryterritoryCode

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('ECDC_COVID_19.csv')

In [3]:
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,2020-04-08,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0
1,2020-04-07,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0
2,2020-04-06,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0
3,2020-04-05,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0
4,2020-04-04,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
9508,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9509,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
9510,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9511,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
9512,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [4]:
df.ndim

2

In [5]:
df.head(10)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,2020-04-08,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0
1,2020-04-07,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0
2,2020-04-06,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0
3,2020-04-05,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0
4,2020-04-04,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0
5,2020-04-03,3,4,2020,43,0,Afghanistan,AF,AFG,37172386.0
6,2020-04-02,2,4,2020,26,0,Afghanistan,AF,AFG,37172386.0
7,2020-04-01,1,4,2020,25,0,Afghanistan,AF,AFG,37172386.0
8,2020-03-31,31,3,2020,27,0,Afghanistan,AF,AFG,37172386.0
9,2020-03-30,30,3,2020,8,1,Afghanistan,AF,AFG,37172386.0

In [6]:
df.tail(10)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
9503,2020-03-30,30,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9504,2020-03-29,29,3,2020,2,0,Zimbabwe,ZW,ZWE,14439018.0
9505,2020-03-28,28,3,2020,2,0,Zimbabwe,ZW,ZWE,14439018.0
9506,2020-03-27,27,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9507,2020-03-26,26,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
9508,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9509,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
9510,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
9511,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
9512,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [7]:
df.size

95130

In [8]:
df.index

RangeIndex(start=0, stop=9513, step=1)

In [9]:
df.shape

(9513, 10)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9513 entries, 0 to 9512
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  9513 non-null   object
 1   day                      9513 non-null   int64
 2   month                    9513 non-null   int64
 3   year                     9513 non-null   int64
 4   cases                    9513 non-null   int64
 5   deaths                   9513 non-null   int64
 6   countriesAndTerritories  9513 non-null   object
 7   geoId                    9488 non-null   object
 8   countryterritoryCode     9324 non-null   object
 9   popData2018              9370 non-null   float64
dtypes: float64(1), int64(5), object(4)
memory usage: 743.3+ KB

In [11]:
df.describe()

,day,month,year,cases,deaths,popData2018
count,9513.000000,9513.000000,9513.000000,9513.000000,9513.000000,9.370000e+03
mean,15.548828,2.591822,2019.992957,146.314517,8.564911,6.431196e+07
std,9.427045,1.284901,0.083631,1141.114073,71.611262,2.015642e+08
min,1.000000,1.000000,2019.000000,-9.000000,0.000000,1.000000e+03
25%,7.000000,2.000000,2020.000000,0.000000,0.000000,3.545883e+06
50%,16.000000,3.000000,2020.000000,0.000000,0.000000,1.062716e+07
75%,24.000000,3.000000,2020.000000,13.000000,0.000000,4.272314e+07
max,31.000000,12.000000,2020.000000,34272.000000,2004.000000,1.392730e+09

In [12]:
df.describe(include='all')

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
count,9513,9513.000000,9513.000000,9513.000000,9513.000000,9513.000000,9513,9488,9324,9.370000e+03
unique,100,NaN,NaN,NaN,NaN,NaN,204,203,199,NaN
top,2020-04-08,NaN,NaN,NaN,NaN,NaN,Italy,KR,SGP,NaN
freq,203,NaN,NaN,NaN,NaN,NaN,100,100,100,NaN
mean,NaN,15.548828,2.591822,2019.992957,146.314517,8.564911,NaN,NaN,NaN,6.431196e+07
std,NaN,9.427045,1.284901,0.083631,1141.114073,71.611262,NaN,NaN,NaN,2.015642e+08
min,NaN,1.000000,1.000000,2019.000000,-9.000000,0.000000,NaN,NaN,NaN,1.000000e+03
25%,NaN,7.000000,2.000000,2020.000000,0.000000,0.000000,NaN,NaN,NaN,3.545883e+06
50%,NaN,16.000000,3.000000,2020.000000,0.000000,0.000000,NaN,NaN,NaN,1.062716e+07
75%,NaN,24.000000,3.000000,2020.000000,13.000000,0.000000,NaN,NaN,NaN,4.272314e+07
max,NaN,31.000000,12.000000,2020.000000,34272.000000,2004.000000,NaN,NaN,NaN,1.392730e+09

In [13]:
df.describe(include='object')

           dateRep countriesAndTerritories geoId countryterritoryCode
count         9513                    9513  9488                 9324
unique         100                     204   203                  199
top     2020-04-08                   Italy    KR                  SGP
freq           203                     100   100                  100

In [14]:
df.isnull().sum()

dateRep                      0
day                          0
month                        0
year                         0
cases                        0
deaths                       0
countriesAndTerritories      0
geoId                       25
countryterritoryCode       189
popData2018                143
dtype: int64

In [15]:
df.nunique()

dateRep                    100
day                         31
month                        5
year                         2
cases                      728
deaths                     222
countriesAndTerritories    204
geoId                      203
countryterritoryCode       199
popData2018                199
dtype: int64

In [16]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9508    False
9509    False
9510    False
9511    False
9512    False
Length: 9513, dtype: bool

In [17]:
df.duplicated().sum()

0

In [18]:
df.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2018'],
      dtype='object')

In [19]:
df['day'].unique()

array([ 8,  7,  6,  5,  4,  3,  2,  1, 31, 30, 29, 28, 27, 26, 25, 24, 23,
       22, 21, 20, 19, 18, 17, 16, 15, 11, 14, 13, 12, 10,  9],
      dtype=int64)

In [20]:
df.value_counts()

dateRep     day  month  year  cases  deaths  countriesAndTerritories   geoId  countryterritoryCode  popData2018
2019-12-31  31   12     2019  0      0       Afghanistan               AF     AFG                   37172386.0     1
2020-03-23  23   3      2020  38     0       Lithuania                 LT     LTU                   2789533.0      1
                              122    0       Thailand                  TH     THA                   69428524.0     1
                              123    6       Malaysia                  MY     MYS                   31528585.0     1
                              128    0       Luxembourg                LU     LUX                   607728.0       1
                                                                                                                  ..
2020-02-16  16   2      2020  0      0       New_Zealand               NZ     NZL                   4885500.0      1
                                             Nigeria                   NG     NGA                   195874740.0    1
                                             North_Macedonia           MK     MKD                   2082958.0      1
                                             Norway                    NO     NOR                   5314336.0      1
2020-04-08  8    4      2020  30613  1906    United_States_of_America  US     USA                   327167434.0    1
Name: count, Length: 9281, dtype: int64

In [21]:
df.dtypes

dateRep                     object
day                          int64
month                        int64
year                         int64
cases                        int64
deaths                       int64
countriesAndTerritories     object
geoId                       object
countryterritoryCode        object
popData2018                float64
dtype: object

In [22]:
df.select_dtypes('object')

         dateRep countriesAndTerritories geoId countryterritoryCode
0     2020-04-08             Afghanistan    AF                  AFG
1     2020-04-07             Afghanistan    AF                  AFG
2     2020-04-06             Afghanistan    AF                  AFG
3     2020-04-05             Afghanistan    AF                  AFG
4     2020-04-04             Afghanistan    AF                  AFG
...          ...                     ...   ...                  ...
9508  2020-03-25                Zimbabwe    ZW                  ZWE
9509  2020-03-24                Zimbabwe    ZW                  ZWE
9510  2020-03-23                Zimbabwe    ZW                  ZWE
9511  2020-03-22                Zimbabwe    ZW                  ZWE
9512  2020-03-21                Zimbabwe    ZW                  ZWE

[9513 rows x 4 columns]

In [23]:
df['dateRep']=df['dateRep'].astype('datetime64[ns]')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9513 entries, 0 to 9512
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  9513 non-null   datetime64[ns]
 1   day                      9513 non-null   int64
 2   month                    9513 non-null   int64
 3   year                     9513 non-null   int64
 4   cases                    9513 non-null   int64
 5   deaths                   9513 non-null   int64
 6   countriesAndTerritories  9513 non-null   object
 7   geoId                    9488 non-null   object
 8   countryterritoryCode     9324 non-null   object
 9   popData2018              9370 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 743.3+ KB

In [24]:
df['month_name']=df['dateRep'].dt.month_name()

In [25]:
df['day_name']=df['dateRep'].dt.day_name()

In [26]:
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
0,2020-04-08,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0,April,Wednesday
1,2020-04-07,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0,April,Tuesday
2,2020-04-06,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0,April,Monday
3,2020-04-05,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0,April,Sunday
4,2020-04-04,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0,April,Saturday

### **isin()**

it is used to retreive data is in the dataset.
isin() is a method in Pandas used to filter data. It checks whether each element in a DataFrame or Series is contained in a provided list-like object (like a list, set, or Series). This method is often used for subsetting data based on multiple conditions.

In [27]:
df['countriesAndTerritories'].unique()

array(['Afghanistan', 'Albania', 'Andorra', 'Algeria', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia', 'Cuba',
       'CuraÃƒÂ§ao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia', 'New_Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Saudi_Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra_Leone',
       'Singapore', 'Sint_Maarten', 'Slovakia', 'Slovenia', 'Somalia',
       'South_Africa', 'South_Korea', 'South_Sudan', 'Spain', 'Sri_Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Thailand', 'Timor_Leste', 'Togo', 'Trinidad_and_Tobago',
       'Tunisia', 'Turkey', 'Turks_and_Caicos_islands', 'Uganda',
       'Ukraine', 'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Zambia', 'Zimbabwe'], dtype=object)

In [28]:
# Q) filter the dataset to include only rows where the countriesandterritories column is either united_states_of_america or india?
usa_india=df[df['countriesAndTerritories'].isin(['United_States_of_America','India'])]
usa_india

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
4000,2020-04-08,8,4,2020,773,35,India,IN,IND,1.352617e+09,April,Wednesday
4001,2020-04-07,7,4,2020,354,5,India,IN,IND,1.352617e+09,April,Tuesday
4002,2020-04-06,6,4,2020,693,32,India,IN,IND,1.352617e+09,April,Monday
4003,2020-04-05,5,4,2020,472,9,India,IN,IND,1.352617e+09,April,Sunday
4004,2020-04-04,4,4,2020,601,12,India,IN,IND,1.352617e+09,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
9283,2020-01-04,4,1,2020,0,0,United_States_of_America,US,USA,3.271674e+08,January,Saturday
9284,2020-01-03,3,1,2020,0,0,United_States_of_America,US,USA,3.271674e+08,January,Friday
9285,2020-01-02,2,1,2020,0,0,United_States_of_America,US,USA,3.271674e+08,January,Thursday
9286,2020-01-01,1,1,2020,0,0,United_States_of_America,US,USA,3.271674e+08,January,Wednesday
9287,2019-12-31,31,12,2019,0,0,United_States_of_America,US,USA,3.271674e+08,December,Tuesday

In [29]:
df['month_name'].unique()

array(['April', 'March', 'February', 'January', 'December'], dtype=object)

In [30]:
# Q) filter the dataframe to include only the rows where the month column is either january or february
jan_feb=df[df['month_name'].isin(['January','February'])]
jan_feb

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
29,2020-02-29,29,2,2020,0,0,Afghanistan,AF,AFG,37172386.0,February,Saturday
30,2020-02-28,28,2,2020,0,0,Afghanistan,AF,AFG,37172386.0,February,Friday
31,2020-02-27,27,2,2020,0,0,Afghanistan,AF,AFG,37172386.0,February,Thursday
32,2020-02-26,26,2,2020,0,0,Afghanistan,AF,AFG,37172386.0,February,Wednesday
33,2020-02-25,25,2,2020,1,0,Afghanistan,AF,AFG,37172386.0,February,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
9467,2020-01-05,5,1,2020,0,0,Vietnam,VN,VNM,95540395.0,January,Sunday
9468,2020-01-04,4,1,2020,0,0,Vietnam,VN,VNM,95540395.0,January,Saturday
9469,2020-01-03,3,1,2020,0,0,Vietnam,VN,VNM,95540395.0,January,Friday
9470,2020-01-02,2,1,2020,0,0,Vietnam,VN,VNM,95540395.0,January,Thursday
9471,2020-01-01,1,1,2020,0,0,Vietnam,VN,VNM,95540395.0,January,Wednesday

In [31]:
# Q) select the rows where geoid is not in a list of excluded codes (excluded_codes=['US','IN','BR'])?
excluded_codes=['US','IN','BR']

In [32]:
rest_codes=df[~df['geoId'].isin(['excluded_codes'])]
# '~' denotes 'not in'
rest_codes

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
0,2020-04-08,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0,April,Wednesday
1,2020-04-07,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0,April,Tuesday
2,2020-04-06,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0,April,Monday
3,2020-04-05,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0,April,Sunday
4,2020-04-04,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
9508,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,March,Wednesday
9509,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,March,Tuesday
9510,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,March,Monday
9511,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,March,Sunday
9512,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,March,Saturday

In [33]:
# Q) Filter rows where the countriesAndTerritories column contains 'Germany','France','Italy'.
df[df['countriesAndTerritories'].isin(['Germany','France','Italy'])]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
3119,2020-04-08,8,4,2020,3777,1417,France,FR,FRA,66987244.0,April,Wednesday
3120,2020-04-07,7,4,2020,3912,833,France,FR,FRA,66987244.0,April,Tuesday
3121,2020-04-06,6,4,2020,1873,518,France,FR,FRA,66987244.0,April,Monday
3122,2020-04-05,5,4,2020,4267,1053,France,FR,FRA,66987244.0,April,Sunday
3123,2020-04-04,4,4,2020,5233,2004,France,FR,FRA,66987244.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
4699,2020-01-04,4,1,2020,0,0,Italy,IT,ITA,60431283.0,January,Saturday
4700,2020-01-03,3,1,2020,0,0,Italy,IT,ITA,60431283.0,January,Friday
4701,2020-01-02,2,1,2020,0,0,Italy,IT,ITA,60431283.0,January,Thursday
4702,2020-01-01,1,1,2020,0,0,Italy,IT,ITA,60431283.0,January,Wednesday
4703,2019-12-31,31,12,2019,0,0,Italy,IT,ITA,60431283.0,December,Tuesday

In [34]:
# Q) Filter out rows where the countriesAndTerritories column not contains 'Germany','France','Italy'.
excluded_country=['Germany','France','Italy']
rest_country=df[~df['countriesAndTerritories'].isin(['excluded_country'])]
rest_country

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
0,2020-04-08,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0,April,Wednesday
1,2020-04-07,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0,April,Tuesday
2,2020-04-06,6,4,2020,29,2,Afghanistan,AF,AFG,37172386.0,April,Monday
3,2020-04-05,5,4,2020,35,1,Afghanistan,AF,AFG,37172386.0,April,Sunday
4,2020-04-04,4,4,2020,0,0,Afghanistan,AF,AFG,37172386.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
9508,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,March,Wednesday
9509,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,March,Tuesday
9510,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,March,Monday
9511,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,March,Sunday
9512,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,March,Saturday

In [35]:
df1=df[df['countriesAndTerritories'].isin(['Germany'])]

In [36]:
df1

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
3385,2020-04-08,8,4,2020,4003,254,Germany,DE,DEU,82927922.0,April,Wednesday
3386,2020-04-07,7,4,2020,3834,173,Germany,DE,DEU,82927922.0,April,Tuesday
3387,2020-04-06,6,4,2020,3677,92,Germany,DE,DEU,82927922.0,April,Monday
3388,2020-04-05,5,4,2020,5936,184,Germany,DE,DEU,82927922.0,April,Sunday
3389,2020-04-04,4,4,2020,6082,141,Germany,DE,DEU,82927922.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
3480,2020-01-04,4,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Saturday
3481,2020-01-03,3,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Friday
3482,2020-01-02,2,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Thursday
3483,2020-01-01,1,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Wednesday
3484,2019-12-31,31,12,2019,0,0,Germany,DE,DEU,82927922.0,December,Tuesday

# reset_index()

In [37]:
df1.reset_index(drop=True,inplace=True)
# "reset_index()" used to reset the index in sequence order like 0,1,2, ....
# in this way automatically a column with index is existed. it doesnot need, so, it will remove using "drop=True"

In [38]:
df1

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
0,2020-04-08,8,4,2020,4003,254,Germany,DE,DEU,82927922.0,April,Wednesday
1,2020-04-07,7,4,2020,3834,173,Germany,DE,DEU,82927922.0,April,Tuesday
2,2020-04-06,6,4,2020,3677,92,Germany,DE,DEU,82927922.0,April,Monday
3,2020-04-05,5,4,2020,5936,184,Germany,DE,DEU,82927922.0,April,Sunday
4,2020-04-04,4,4,2020,6082,141,Germany,DE,DEU,82927922.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-01-04,4,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Saturday
96,2020-01-03,3,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Friday
97,2020-01-02,2,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Thursday
98,2020-01-01,1,1,2020,0,0,Germany,DE,DEU,82927922.0,January,Wednesday
99,2019-12-31,31,12,2019,0,0,Germany,DE,DEU,82927922.0,December,Tuesday

In [39]:
# extract countries and territories china
df_china=df[df['countriesAndTerritories'].isin(['China'])]

In [40]:
df_china

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
1845,2020-04-08,8,4,2020,86,2,China,CN,CHN,1.392730e+09,April,Wednesday
1846,2020-04-07,7,4,2020,56,0,China,CN,CHN,1.392730e+09,April,Tuesday
1847,2020-04-06,6,4,2020,67,2,China,CN,CHN,1.392730e+09,April,Monday
1848,2020-04-05,5,4,2020,48,3,China,CN,CHN,1.392730e+09,April,Sunday
1849,2020-04-04,4,4,2020,62,4,China,CN,CHN,1.392730e+09,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
1940,2020-01-04,4,1,2020,0,0,China,CN,CHN,1.392730e+09,January,Saturday
1941,2020-01-03,3,1,2020,17,0,China,CN,CHN,1.392730e+09,January,Friday
1942,2020-01-02,2,1,2020,0,0,China,CN,CHN,1.392730e+09,January,Thursday
1943,2020-01-01,1,1,2020,0,0,China,CN,CHN,1.392730e+09,January,Wednesday
1944,2019-12-31,31,12,2019,27,0,China,CN,CHN,1.392730e+09,December,Tuesday

In [41]:
df_china.reset_index(drop=True,inplace=True)

In [42]:
df_china

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
0,2020-04-08,8,4,2020,86,2,China,CN,CHN,1.392730e+09,April,Wednesday
1,2020-04-07,7,4,2020,56,0,China,CN,CHN,1.392730e+09,April,Tuesday
2,2020-04-06,6,4,2020,67,2,China,CN,CHN,1.392730e+09,April,Monday
3,2020-04-05,5,4,2020,48,3,China,CN,CHN,1.392730e+09,April,Sunday
4,2020-04-04,4,4,2020,62,4,China,CN,CHN,1.392730e+09,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-01-04,4,1,2020,0,0,China,CN,CHN,1.392730e+09,January,Saturday
96,2020-01-03,3,1,2020,17,0,China,CN,CHN,1.392730e+09,January,Friday
97,2020-01-02,2,1,2020,0,0,China,CN,CHN,1.392730e+09,January,Thursday
98,2020-01-01,1,1,2020,0,0,China,CN,CHN,1.392730e+09,January,Wednesday
99,2019-12-31,31,12,2019,27,0,China,CN,CHN,1.392730e+09,December,Tuesday

# customizing_ index
set_index()

In [43]:
df.set_index(['countriesAndTerritories'])

,dateRep,day,month,year,cases,deaths,geoId,countryterritoryCode,popData2018,month_name,day_name
countriesAndTerritories,,,,,,,,,,,
Afghanistan,2020-04-08,8,4,2020,30,4,AF,AFG,37172386.0,April,Wednesday
Afghanistan,2020-04-07,7,4,2020,38,0,AF,AFG,37172386.0,April,Tuesday
Afghanistan,2020-04-06,6,4,2020,29,2,AF,AFG,37172386.0,April,Monday
Afghanistan,2020-04-05,5,4,2020,35,1,AF,AFG,37172386.0,April,Sunday
Afghanistan,2020-04-04,4,4,2020,0,0,AF,AFG,37172386.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2020-03-25,25,3,2020,0,0,ZW,ZWE,14439018.0,March,Wednesday
Zimbabwe,2020-03-24,24,3,2020,0,1,ZW,ZWE,14439018.0,March,Tuesday
Zimbabwe,2020-03-23,23,3,2020,0,0,ZW,ZWE,14439018.0,March,Monday
Zimbabwe,2020-03-22,22,3,2020,1,0,ZW,ZWE,14439018.0,March,Sunday
Zimbabwe,2020-03-21,21,3,2020,1,0,ZW,ZWE,14439018.0,March,Saturday

In [44]:
#  Q) extract geoid HR,CU,CW,CY -- reindex,year wise indexing
df_geoid=df[df['geoId'].isin(['HR','CU','CW','CY'])]

In [45]:
df_geoid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
2056,2020-04-08,8,4,2020,60,2,Croatia,HR,HRV,4089400.0,April,Wednesday
2057,2020-04-07,7,4,2020,40,1,Croatia,HR,HRV,4089400.0,April,Tuesday
2058,2020-04-06,6,4,2020,56,3,Croatia,HR,HRV,4089400.0,April,Monday
2059,2020-04-05,5,4,2020,47,4,Croatia,HR,HRV,4089400.0,April,Sunday
2060,2020-04-04,4,4,2020,68,1,Croatia,HR,HRV,4089400.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
2217,2020-03-16,16,3,2020,9,0,Cyprus,CY,CYP,1189265.0,March,Monday
2218,2020-03-15,15,3,2020,7,0,Cyprus,CY,CYP,1189265.0,March,Sunday
2219,2020-03-14,14,3,2020,8,0,Cyprus,CY,CYP,1189265.0,March,Saturday
2220,2020-03-12,12,3,2020,4,0,Cyprus,CY,CYP,1189265.0,March,Thursday
2221,2020-03-10,10,3,2020,2,0,Cyprus,CY,CYP,1189265.0,March,Tuesday

In [46]:
df_geoid.reset_index(drop=True,inplace=True)

In [47]:
df_geoid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
0,2020-04-08,8,4,2020,60,2,Croatia,HR,HRV,4089400.0,April,Wednesday
1,2020-04-07,7,4,2020,40,1,Croatia,HR,HRV,4089400.0,April,Tuesday
2,2020-04-06,6,4,2020,56,3,Croatia,HR,HRV,4089400.0,April,Monday
3,2020-04-05,5,4,2020,47,4,Croatia,HR,HRV,4089400.0,April,Sunday
4,2020-04-04,4,4,2020,68,1,Croatia,HR,HRV,4089400.0,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
161,2020-03-16,16,3,2020,9,0,Cyprus,CY,CYP,1189265.0,March,Monday
162,2020-03-15,15,3,2020,7,0,Cyprus,CY,CYP,1189265.0,March,Sunday
163,2020-03-14,14,3,2020,8,0,Cyprus,CY,CYP,1189265.0,March,Saturday
164,2020-03-12,12,3,2020,4,0,Cyprus,CY,CYP,1189265.0,March,Thursday
165,2020-03-10,10,3,2020,2,0,Cyprus,CY,CYP,1189265.0,March,Tuesday

In [48]:
df_geoid=df_geoid.set_index(['month_name'])

In [49]:
df_geoid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,day_name
month_name,,,,,,,,,,,
April,2020-04-08,8,4,2020,60,2,Croatia,HR,HRV,4089400.0,Wednesday
April,2020-04-07,7,4,2020,40,1,Croatia,HR,HRV,4089400.0,Tuesday
April,2020-04-06,6,4,2020,56,3,Croatia,HR,HRV,4089400.0,Monday
April,2020-04-05,5,4,2020,47,4,Croatia,HR,HRV,4089400.0,Sunday
April,2020-04-04,4,4,2020,68,1,Croatia,HR,HRV,4089400.0,Saturday
...,...,...,...,...,...,...,...,...,...,...,...
March,2020-03-16,16,3,2020,9,0,Cyprus,CY,CYP,1189265.0,Monday
March,2020-03-15,15,3,2020,7,0,Cyprus,CY,CYP,1189265.0,Sunday
March,2020-03-14,14,3,2020,8,0,Cyprus,CY,CYP,1189265.0,Saturday
March,2020-03-12,12,3,2020,4,0,Cyprus,CY,CYP,1189265.0,Thursday
March,2020-03-10,10,3,2020,2,0,Cyprus,CY,CYP,1189265.0,Tuesday

In [50]:
# Q) extract countries and territory code = GVR, KNA, NLD, PRT --set index in day_name base
df_dayname=df[df['countryterritoryCode'].isin(['GVR','KNA','NLD','PRT'])].set_index(['day_name']).sort_values(by='deaths',ascending=False)

In [51]:
df_dayname

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name
day_name,,,,,,,,,,,
Wednesday,2020-04-08,8,4,2020,777,234,Netherlands,NL,NLD,17231017.0,April
Wednesday,2020-04-01,1,4,2020,845,175,Netherlands,NL,NLD,17231017.0,April
Friday,2020-04-03,3,4,2020,1083,166,Netherlands,NL,NLD,17231017.0,April
Sunday,2020-04-05,5,4,2020,904,164,Netherlands,NL,NLD,17231017.0,April
Saturday,2020-04-04,4,4,2020,1026,148,Netherlands,NL,NLD,17231017.0,April
...,...,...,...,...,...,...,...,...,...,...,...
Wednesday,2020-02-05,5,2,2020,0,0,Netherlands,NL,NLD,17231017.0,February
Thursday,2020-02-06,6,2,2020,0,0,Netherlands,NL,NLD,17231017.0,February
Friday,2020-02-07,7,2,2020,0,0,Netherlands,NL,NLD,17231017.0,February
Saturday,2020-02-08,8,2,2020,0,0,Netherlands,NL,NLD,17231017.0,February
Thursday,2020-03-26,26,3,2020,2,0,Saint_Kitts_and_Nevis,KN,KNA,52441.0,March

In [66]:
# Q) filter the rows where cases>1000 and deaths>500
deaths_cases=df[(df['cases']>1000)&(df['deaths']>500)]

In [70]:
deaths_cases

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
3119,2020-04-08,8,4,2020,3777,1417,France,FR,FRA,66987244.0,April,Wednesday
3120,2020-04-07,7,4,2020,3912,833,France,FR,FRA,66987244.0,April,Tuesday
3121,2020-04-06,6,4,2020,1873,518,France,FR,FRA,66987244.0,April,Monday
3122,2020-04-05,5,4,2020,4267,1053,France,FR,FRA,66987244.0,April,Sunday
3123,2020-04-04,4,4,2020,5233,2004,France,FR,FRA,66987244.0,April,Saturday
3125,2020-04-02,2,4,2020,4861,509,France,FR,FRA,66987244.0,April,Thursday
4604,2020-04-08,8,4,2020,3039,604,Italy,IT,ITA,60431283.0,April,Wednesday
4605,2020-04-07,7,4,2020,3599,636,Italy,IT,ITA,60431283.0,April,Tuesday
4606,2020-04-06,6,4,2020,4316,527,Italy,IT,ITA,60431283.0,April,Monday
4607,2020-04-05,5,4,2020,4805,681,Italy,IT,ITA,60431283.0,April,Sunday
4608,2020-04-04,4,4,2020,4585,764,Italy,IT,ITA,60431283.0,April,Saturday
4609,2020-04-03,3,4,2020,4668,760,Italy,IT,ITA,60431283.0,April,Friday
4610,2020-04-02,2,4,2020,4782,727,Italy,IT,ITA,60431283.0,April,Thursday
4611,2020-04-01,1,4,2020,4053,839,Italy,IT,ITA,60431283.0,April,Wednesday
4612,2020-03-31,31,3,2020,4050,810,Italy,IT,ITA,60431283.0,March,Tuesday
4613,2020-03-30,30,3,2020,5217,758,Italy,IT,ITA,60431283.0,March,Monday
4614,2020-03-29,29,3,2020,5974,887,Italy,IT,ITA,60431283.0,March,Sunday
4615,2020-03-28,28,3,2020,5959,971,Italy,IT,ITA,60431283.0,March,Saturday
4616,2020-03-27,27,3,2020,6153,660,Italy,IT,ITA,60431283.0,March,Friday
4617,2020-03-26,26,3,2020,5210,685,Italy,IT,ITA,60431283.0,March,Thursday
4618,2020-03-25,25,3,2020,5249,743,Italy,IT,ITA,60431283.0,March,Wednesday
4619,2020-03-24,24,3,2020,4789,601,Italy,IT,ITA,60431283.0,March,Tuesday
4620,2020-03-23,23,3,2020,5560,649,Italy,IT,ITA,60431283.0,March,Monday
4621,2020-03-22,22,3,2020,6557,795,Italy,IT,ITA,60431283.0,March,Sunday
4622,2020-03-21,21,3,2020,5986,625,Italy,IT,ITA,60431283.0,March,Saturday
8139,2020-04-08,8,4,2020,5478,743,Spain,ES,ESP,46723749.0,April,Wednesday
8140,2020-04-07,7,4,2020,4273,637,Spain,ES,ESP,46723749.0,April,Tuesday
8141,2020-04-06,6,4,2020,6023,674,Spain,ES,ESP,46723749.0,April,Monday
8142,2020-04-05,5,4,2020,7026,809,Spain,ES,ESP,46723749.0,April,Sunday
8143,2020-04-04,4,4,2020,7472,932,Spain,ES,ESP,46723749.0,April,Saturday
8144,2020-04-03,3,4,2020,8102,950,Spain,ES,ESP,46723749.0,April,Friday
8145,2020-04-02,2,4,2020,7719,864,Spain,ES,ESP,46723749.0,April,Thursday
8146,2020-04-01,1,4,2020,9222,849,Spain,ES,ESP,46723749.0,April,Wednesday
8147,2020-03-31,31,3,2020,6398,812,Spain,ES,ESP,46723749.0,March,Tuesday
8148,2020-03-30,30,3,2020,6549,838,Spain,ES,ESP,46723749.0,March,Monday
8149,2020-03-29,29,3,2020,8189,832,Spain,ES,ESP,46723749.0,March,Sunday
8150,2020-03-28,28,3,2020,7871,769,Spain,ES,ESP,46723749.0,March,Saturday
8151,2020-03-27,27,3,2020,8578,655,Spain,ES,ESP,46723749.0,March,Friday
8152,2020-03-26,26,3,2020,7937,738,Spain,ES,ESP,46723749.0,March,Thursday
8153,2020-03-25,25,3,2020,6584,514,Spain,ES,ESP,46723749.0,March,Wednesday
9065,2020-04-08,8,4,2020,3634,786,United_Kingdom,UK,GBR,66488991.0,April,Wednesday
9067,2020-04-06,6,4,2020,5903,621,United_Kingdom,UK,GBR,66488991.0,April,Monday
9068,2020-04-05,5,4,2020,3735,708,United_Kingdom,UK,GBR,66488991.0,April,Sunday
9069,2020-04-04,4,4,2020,4450,684,United_Kingdom,UK,GBR,66488991.0,April,Saturday
9071,2020-04-02,2,4,2020,4324,743,United_Kingdom,UK,GBR,66488991.0,April,Thursday
9188,2020-04-08,8,4,2020,30613,1906,United_States_of_America,US,USA,327167434.0,April,Wednesday
9189,2020-04-07,7,4,2020,30561,1342,United_States_of_America,US,USA,327167434.0,April,Tuesday
9190,2020-04-06,6,4,2020,25398,1146,United_States_of_America,US,USA,327167434.0,April,Monday
9191,2020-04-05,5,4,2020,34272,1344,United_States_of_America,US,USA,327167434.0,April,Sunday
9192,2020-04-04,4,4,2020,32425,1104,United_States_of_America,US,USA,327167434.0,April,Saturday
9193,2020-04-03,3,4,2020,28819,915,United_States_of_America,US,USA,327167434.0,April,Friday
9194,2020-04-02,2,4,2020,27103,1059,United_States_of_America,US,USA,327167434.0,April,Thursday
9195,2020-04-01,1,4,2020,24998,909,United_States_of_America,US,USA,327167434.0,April,Wednesday
9196,2020-03-31,31,3,2020,21595,661,United_States_of_America,US,USA,327167434.0,March,Tuesday

In [71]:
# Q) reset index of deaths_cases
deaths_cases.reset_index(drop=True,inplace=True)

In [72]:
deaths_cases

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,month_name,day_name
0,2020-04-08,8,4,2020,3777,1417,France,FR,FRA,66987244.0,April,Wednesday
1,2020-04-07,7,4,2020,3912,833,France,FR,FRA,66987244.0,April,Tuesday
2,2020-04-06,6,4,2020,1873,518,France,FR,FRA,66987244.0,April,Monday
3,2020-04-05,5,4,2020,4267,1053,France,FR,FRA,66987244.0,April,Sunday
4,2020-04-04,4,4,2020,5233,2004,France,FR,FRA,66987244.0,April,Saturday
5,2020-04-02,2,4,2020,4861,509,France,FR,FRA,66987244.0,April,Thursday
6,2020-04-08,8,4,2020,3039,604,Italy,IT,ITA,60431283.0,April,Wednesday
7,2020-04-07,7,4,2020,3599,636,Italy,IT,ITA,60431283.0,April,Tuesday
8,2020-04-06,6,4,2020,4316,527,Italy,IT,ITA,60431283.0,April,Monday
9,2020-04-05,5,4,2020,4805,681,Italy,IT,ITA,60431283.0,April,Sunday
10,2020-04-04,4,4,2020,4585,764,Italy,IT,ITA,60431283.0,April,Saturday
11,2020-04-03,3,4,2020,4668,760,Italy,IT,ITA,60431283.0,April,Friday
12,2020-04-02,2,4,2020,4782,727,Italy,IT,ITA,60431283.0,April,Thursday
13,2020-04-01,1,4,2020,4053,839,Italy,IT,ITA,60431283.0,April,Wednesday
14,2020-03-31,31,3,2020,4050,810,Italy,IT,ITA,60431283.0,March,Tuesday
15,2020-03-30,30,3,2020,5217,758,Italy,IT,ITA,60431283.0,March,Monday
16,2020-03-29,29,3,2020,5974,887,Italy,IT,ITA,60431283.0,March,Sunday
17,2020-03-28,28,3,2020,5959,971,Italy,IT,ITA,60431283.0,March,Saturday
18,2020-03-27,27,3,2020,6153,660,Italy,IT,ITA,60431283.0,March,Friday
19,2020-03-26,26,3,2020,5210,685,Italy,IT,ITA,60431283.0,March,Thursday
20,2020-03-25,25,3,2020,5249,743,Italy,IT,ITA,60431283.0,March,Wednesday
21,2020-03-24,24,3,2020,4789,601,Italy,IT,ITA,60431283.0,March,Tuesday
22,2020-03-23,23,3,2020,5560,649,Italy,IT,ITA,60431283.0,March,Monday
23,2020-03-22,22,3,2020,6557,795,Italy,IT,ITA,60431283.0,March,Sunday
24,2020-03-21,21,3,2020,5986,625,Italy,IT,ITA,60431283.0,March,Saturday
25,2020-04-08,8,4,2020,5478,743,Spain,ES,ESP,46723749.0,April,Wednesday
26,2020-04-07,7,4,2020,4273,637,Spain,ES,ESP,46723749.0,April,Tuesday
27,2020-04-06,6,4,2020,6023,674,Spain,ES,ESP,46723749.0,April,Monday
28,2020-04-05,5,4,2020,7026,809,Spain,ES,ESP,46723749.0,April,Sunday
29,2020-04-04,4,4,2020,7472,932,Spain,ES,ESP,46723749.0,April,Saturday
30,2020-04-03,3,4,2020,8102,950,Spain,ES,ESP,46723749.0,April,Friday
31,2020-04-02,2,4,2020,7719,864,Spain,ES,ESP,46723749.0,April,Thursday
32,2020-04-01,1,4,2020,9222,849,Spain,ES,ESP,46723749.0,April,Wednesday
33,2020-03-31,31,3,2020,6398,812,Spain,ES,ESP,46723749.0,March,Tuesday
34,2020-03-30,30,3,2020,6549,838,Spain,ES,ESP,46723749.0,March,Monday
35,2020-03-29,29,3,2020,8189,832,Spain,ES,ESP,46723749.0,March,Sunday
36,2020-03-28,28,3,2020,7871,769,Spain,ES,ESP,46723749.0,March,Saturday
37,2020-03-27,27,3,2020,8578,655,Spain,ES,ESP,46723749.0,March,Friday
38,2020-03-26,26,3,2020,7937,738,Spain,ES,ESP,46723749.0,March,Thursday
39,2020-03-25,25,3,2020,6584,514,Spain,ES,ESP,46723749.0,March,Wednesday
40,2020-04-08,8,4,2020,3634,786,United_Kingdom,UK,GBR,66488991.0,April,Wednesday
41,2020-04-06,6,4,2020,5903,621,United_Kingdom,UK,GBR,66488991.0,April,Monday
42,2020-04-05,5,4,2020,3735,708,United_Kingdom,UK,GBR,66488991.0,April,Sunday
43,2020-04-04,4,4,2020,4450,684,United_Kingdom,UK,GBR,66488991.0,April,Saturday
44,2020-04-02,2,4,2020,4324,743,United_Kingdom,UK,GBR,66488991.0,April,Thursday
45,2020-04-08,8,4,2020,30613,1906,United_States_of_America,US,USA,327167434.0,April,Wednesday
46,2020-04-07,7,4,2020,30561,1342,United_States_of_America,US,USA,327167434.0,April,Tuesday
47,2020-04-06,6,4,2020,25398,1146,United_States_of_America,US,USA,327167434.0,April,Monday
48,2020-04-05,5,4,2020,34272,1344,United_States_of_America,US,USA,327167434.0,April,Sunday
49,2020-04-04,4,4,2020,32425,1104,United_States_of_America,US,USA,327167434.0,April,Saturday
50,2020-04-03,3,4,2020,28819,915,United_States_of_America,US,USA,327167434.0,April,Friday
51,2020-04-02,2,4,2020,27103,1059,United_States_of_America,US,USA,327167434.0,April,Thursday
52,2020-04-01,1,4,2020,24998,909,United_States_of_America,US,USA,327167434.0,April,Wednesday
53,2020-03-31,31,3,2020,21595,661,United_States_of_America,US,USA,327167434.0,March,Tuesday

In [74]:
# Q) set_index is month_name and sort in descending
deaths_cases.set_index('month_name').sort_values(by='deaths',ascending=False)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,day_name
month_name,,,,,,,,,,,
April,2020-04-04,4,4,2020,5233,2004,France,FR,FRA,66987244.0,Saturday
April,2020-04-08,8,4,2020,30613,1906,United_States_of_America,US,USA,327167434.0,Wednesday
April,2020-04-08,8,4,2020,3777,1417,France,FR,FRA,66987244.0,Wednesday
April,2020-04-05,5,4,2020,34272,1344,United_States_of_America,US,USA,327167434.0,Sunday
April,2020-04-07,7,4,2020,30561,1342,United_States_of_America,US,USA,327167434.0,Tuesday
April,2020-04-06,6,4,2020,25398,1146,United_States_of_America,US,USA,327167434.0,Monday
April,2020-04-04,4,4,2020,32425,1104,United_States_of_America,US,USA,327167434.0,Saturday
April,2020-04-02,2,4,2020,27103,1059,United_States_of_America,US,USA,327167434.0,Thursday
April,2020-04-05,5,4,2020,4267,1053,France,FR,FRA,66987244.0,Sunday
March,2020-03-28,28,3,2020,5959,971,Italy,IT,ITA,60431283.0,Saturday
April,2020-04-03,3,4,2020,8102,950,Spain,ES,ESP,46723749.0,Friday
April,2020-04-04,4,4,2020,7472,932,Spain,ES,ESP,46723749.0,Saturday
April,2020-04-03,3,4,2020,28819,915,United_States_of_America,US,USA,327167434.0,Friday
April,2020-04-01,1,4,2020,24998,909,United_States_of_America,US,USA,327167434.0,Wednesday
March,2020-03-29,29,3,2020,5974,887,Italy,IT,ITA,60431283.0,Sunday
April,2020-04-02,2,4,2020,7719,864,Spain,ES,ESP,46723749.0,Thursday
April,2020-04-01,1,4,2020,9222,849,Spain,ES,ESP,46723749.0,Wednesday
April,2020-04-01,1,4,2020,4053,839,Italy,IT,ITA,60431283.0,Wednesday
March,2020-03-30,30,3,2020,6549,838,Spain,ES,ESP,46723749.0,Monday
April,2020-04-07,7,4,2020,3912,833,France,FR,FRA,66987244.0,Tuesday
March,2020-03-29,29,3,2020,8189,832,Spain,ES,ESP,46723749.0,Sunday
March,2020-03-31,31,3,2020,6398,812,Spain,ES,ESP,46723749.0,Tuesday
March,2020-03-31,31,3,2020,4050,810,Italy,IT,ITA,60431283.0,Tuesday
April,2020-04-05,5,4,2020,7026,809,Spain,ES,ESP,46723749.0,Sunday
March,2020-03-22,22,3,2020,6557,795,Italy,IT,ITA,60431283.0,Sunday
April,2020-04-08,8,4,2020,3634,786,United_Kingdom,UK,GBR,66488991.0,Wednesday
March,2020-03-28,28,3,2020,7871,769,Spain,ES,ESP,46723749.0,Saturday
April,2020-04-04,4,4,2020,4585,764,Italy,IT,ITA,60431283.0,Saturday
April,2020-04-03,3,4,2020,4668,760,Italy,IT,ITA,60431283.0,Friday
March,2020-03-30,30,3,2020,5217,758,Italy,IT,ITA,60431283.0,Monday
April,2020-04-08,8,4,2020,5478,743,Spain,ES,ESP,46723749.0,Wednesday
March,2020-03-25,25,3,2020,5249,743,Italy,IT,ITA,60431283.0,Wednesday
April,2020-04-02,2,4,2020,4324,743,United_Kingdom,UK,GBR,66488991.0,Thursday
March,2020-03-26,26,3,2020,7937,738,Spain,ES,ESP,46723749.0,Thursday
April,2020-04-02,2,4,2020,4782,727,Italy,IT,ITA,60431283.0,Thursday
April,2020-04-05,5,4,2020,3735,708,United_Kingdom,UK,GBR,66488991.0,Sunday
March,2020-03-26,26,3,2020,5210,685,Italy,IT,ITA,60431283.0,Thursday
April,2020-04-04,4,4,2020,4450,684,United_Kingdom,UK,GBR,66488991.0,Saturday
April,2020-04-05,5,4,2020,4805,681,Italy,IT,ITA,60431283.0,Sunday
April,2020-04-06,6,4,2020,6023,674,Spain,ES,ESP,46723749.0,Monday
March,2020-03-31,31,3,2020,21595,661,United_States_of_America,US,USA,327167434.0,Tuesday
March,2020-03-27,27,3,2020,6153,660,Italy,IT,ITA,60431283.0,Friday
March,2020-03-27,27,3,2020,8578,655,Spain,ES,ESP,46723749.0,Friday
March,2020-03-23,23,3,2020,5560,649,Italy,IT,ITA,60431283.0,Monday
April,2020-04-07,7,4,2020,4273,637,Spain,ES,ESP,46723749.0,Tuesday
April,2020-04-07,7,4,2020,3599,636,Italy,IT,ITA,60431283.0,Tuesday
March,2020-03-21,21,3,2020,5986,625,Italy,IT,ITA,60431283.0,Saturday
April,2020-04-06,6,4,2020,5903,621,United_Kingdom,UK,GBR,66488991.0,Monday
April,2020-04-08,8,4,2020,3039,604,Italy,IT,ITA,60431283.0,Wednesday
March,2020-03-24,24,3,2020,4789,601,Italy,IT,ITA,60431283.0,Tuesday
April,2020-04-06,6,4,2020,4316,527,Italy,IT,ITA,60431283.0,Monday
April,2020-04-06,6,4,2020,1873,518,France,FR,FRA,66987244.0,Monday
March,2020-03-25,25,3,2020,6584,514,Spain,ES,ESP,46723749.0,Wednesday
April,2020-04-02,2,4,2020,4861,509,France,FR,FRA,66987244.0,Thursday